@import url('https://fonts.cdnfonts.com/css/norse');

:root{
  --align: 40px;
}

 body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
 }

 .imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  background-image: url(/images/background-image.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
 }

 img {
  width: 70px;
  height: auto;
 }

 .imgs > div {
  background-color: #000000;
  opacity: .6;
 }

 .imgs > div > p {
  display: inline;
  font-family: 'norse',sans-serif;
  font-size: 100px;
  font-weight: 600;
 }

 .imgs > p {
  position: relative;
  top: 25%;
 }

 .imgs > p > a{
  color: #ffffff;
 }

 .content {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
 }

 .content > h3, p {
  margin-left: var(--align);
 }

 form {
  background-color: #ffffff;
  box-shadow: 5px 5px 8px #78797D;
 }

 form > h3, .inputs{
margin: 20px 0 20px var(--align);
 }


 .form-row {
  display: flex;
  gap: var(--align);
  margin-bottom: 10px;
 }

label {
  font-size: small;
}

input {
  width: 200px;
}

label,input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

 button {
  background-color: #596D48;
  color: #ffffff;
  padding: 10px 60px;
  border-radius: 8px;
  align-self: flex-start;
  margin: 20px 0 0 var(--align);
  box-shadow: 5px 5px 8px #78797D;
 }

 a {
  color: #596D48;
 }